<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="test/bootstrap.php"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 colors="true">
	<testsuites>
		<testsuite name="swivel tests">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./src/Zumba</directory>
			<exclude>
				<file>./tests/bootstrap.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
